Repository romen2232/scribly: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, stylelint --fix, stylelint

feat(backend): creation of the backend
  .eslintrc.json
  .gitignore
  backend/__init__.py
  backend/asgi.py
  backend/settings.py
  backend/urls.py
  backend/wsgi.py
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  manage.py
Due: prettier --write, eslint --fix, eslint, stylelint --fix, stylelint

feat(hooks): hooks and tests
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/App.tsx
  frontend/src/assets/img/mock/back.png
  frontend/src/assets/img/mock/return.png
  frontend/src/assets/img/mock/turn.png
  frontend/src/assets/styles/main.css
  frontend/src/components/Forest.tsx
  frontend/src/hooks/useAutosave.tsx
  frontend/src/hooks/useDebounce.tsx
  frontend/src/hooks/useOnClickOutsideAndEsc.tsx
  frontend/src/pages/new.tsx
  frontend/src/stores/forestStore.ts
  frontend/src/tests/hooks/useAutosave.test.ts
  frontend/src/tests/hooks/useDebounce.test.ts
  frontend/src/tests/hooks/useOnClickOutsideAndEsc.test.ts
  frontend/src/utils/consts.ts
  frontend/src/utils/types.ts
  frontend/tsconfig.json
Due: prettier --write, eslint --fix, eslint, stylelint --fix, stylelint

feat(escribly): login
  .gitignore
  backend/badges/__pycache__/tests.cpython-310.pyc
  backend/badges_users/__pycache__/tests.cpython-310.pyc
  backend/boosters/__pycache__/tests.cpython-310.pyc
  backend/boosters_users/__pycache__/tests.cpython-310.pyc
  backend/challenges/__pycache__/tests.cpython-310.pyc
  backend/challenges_users/__pycache__/tests.cpython-310.pyc
  backend/clubs/__pycache__/tests.cpython-310.pyc
  backend/clubs_users/__pycache__/tests.cpython-310.pyc
  backend/directs/__pycache__/tests.cpython-310.pyc
  backend/folders/__pycache__/tests.cpython-310.pyc
  backend/follows/__pycache__/tests.cpython-310.pyc
  backend/leaderboards/__pycache__/tests.cpython-310.pyc
  backend/leaderboards_users/__pycache__/tests.cpython-310.pyc
  backend/leagues/__pycache__/tests.cpython-310.pyc
  backend/lessons/__pycache__/tests.cpython-310.pyc
  backend/lessons_users/__pycache__/tests.cpython-310.pyc
  backend/notes/__pycache__/tests.cpython-310.pyc
  backend/ratings/__pycache__/tests.cpython-310.pyc
  backend/resources/__pycache__/tests.cpython-310.pyc
  backend/streaks/__pycache__/tests.cpython-310.pyc
  backend/tasks/__pycache__/tests.cpython-310.pyc
  backend/tasks_users/__pycache__/tests.cpython-310.pyc
  backend/tivi/__pycache__/tests.cpython-310.pyc
  backend/users/__pycache__/urls.cpython-310.pyc
  backend/users/tests/__pycache__/__init__.cpython-310.pyc
  backend/users/tests/__pycache__/test_users.cpython-310.pyc
  backend/users/urls.py
Due: none

fix(user): login on the frontend
  backend/folders/models.py
  backend/users/migrations/0002_alter_user_first_name_alter_user_last_name_and_more.py
  backend/users/models/__pycache__/user.cpython-310.pyc
  backend/users/models/user.py
  frontend/src/app/App.tsx
  frontend/src/assets/styles/main.css
  frontend/src/components/Form.tsx
  frontend/src/components/Splash.tsx
  frontend/src/pages/onBoarding.tsx
  frontend/src/pages/register.tsx
Due: prettier --write, eslint --fix, eslint, stylelint --fix, stylelint

feat(api): created the api documentation
  backend/badges/views.py
  backend/clubs/urls.py
  backend/clubs_users/urls.py
  backend/escribly_api/urls.py
  backend/lessons/urls.py
  backend/lessons_users/urls.py
  backend/resources/urls.py
  backend/schema.yml
  backend/tasks/urls.py
  backend/tasks_users/urls.py
  backend/tivi/urls.py
  backend/users/views.py
Due: prettier --write

fix(doc): fix of the migrations
  .gitignore
  README.md
Due: prettier --write

feat(api services): first complete service (badge)
  .vscode/settings.json
  Escribly.md
  frontend/src/services/Badges.ts
  frontend/src/services/badges.ts
  frontend/src/utils/openapi.d.ts
Due: prettier --write, eslint --fix, eslint

feat(services): creation of the other services
  .eslintrc.json
  frontend/src/services/badges.ts
  frontend/src/services/boosters.ts
  frontend/src/services/challenges.ts
  frontend/src/services/folders.ts
  frontend/src/services/follows.ts
  frontend/src/services/leaderboards.ts
  frontend/src/services/leagues.ts
  frontend/src/services/notes.ts
  frontend/src/services/ratings.ts
  frontend/src/services/streaks.ts
  frontend/src/utils/openapi.d.ts
  frontend/tsconfig.json
Due: prettier --write, eslint --fix, eslint

feat(services): all endpoint implemented
  frontend/src/services/api.ts
  frontend/src/services/auth.ts
  frontend/src/services/badges.ts
  frontend/src/services/boosters.ts
  frontend/src/services/challenges.ts
  frontend/src/services/directs.ts
  frontend/src/services/folders.ts
  frontend/src/services/follows.ts
  frontend/src/services/leaderboards.ts
  frontend/src/services/leagues.ts
  frontend/src/services/notes.ts
  frontend/src/services/ratings.ts
  frontend/src/services/streaks.ts
  frontend/src/utils/openapi.d.ts
Due: prettier --write, eslint --fix, eslint

feat(favicon): changes favicon
  frontend/index.html
  frontend/public/favicon.png
  frontend/src/assets/img/luffy.png
Due: prettier --write

feat(l18n): added translations
  frontend/package-lock.json
  frontend/package.json
  frontend/src/i18n/config.ts
  frontend/src/i18n/locales/es/translations.json
  frontend/src/main.tsx
  frontend/tsconfig.json
Due: prettier --write, eslint --fix, eslint

fix(app): added lazy loading
  frontend/src/app/App.tsx
Due: prettier --write, eslint --fix, eslint

Delete backend/leagues/migrations directory
  backend/leagues/migrations/0001_initial.py
  backend/leagues/migrations/__init__.py
Due: none

fix(bages user relation): nested models in the api
  .eslintrc.json
  .gitignore
  backend/badges/models.py
  backend/badges/serializers.py
  backend/badges_users/models.py
  backend/badges_users/serializers.py
  backend/badges_users/views.py
  backend/users/serializers.py
  backend/users/urls.py
  backend/users/views.py
Due: prettier --write

feat(login): login with user or email
  backend/users/serializers.py
  backend/users/urls.py
  backend/users/views.py
Due: none

fix(api): nested objects in the json response
  backend/boosters_users/serializers.py
  backend/boosters_users/views.py
  backend/challenges/serializers.py
  backend/challenges/views.py
  backend/challenges_users/serializers.py
  backend/challenges_users/views.py
  backend/directs/serializers.py
  backend/folders/models.py
  backend/folders/serializers.py
  backend/follows/serializers.py
  backend/follows/views.py
  backend/leaderboards/serializers.py
  backend/leaderboards_users/serializers.py
  backend/leaderboards_users/views.py
  backend/lessons_users/serializers.py
  backend/lessons_users/views.py
  backend/notes/models.py
  backend/notes/serializers.py
  backend/ratings/serializers.py
  backend/ratings/views.py
  backend/streaks/serializers.py
  backend/streaks/views.py
Due: none

fix(api creation): objects can be created again
  backend/badges/views.py
  backend/badges_users/serializers.py
  backend/badges_users/views.py
  backend/boosters/views.py
  backend/boosters_users/views.py
  backend/challenges/views.py
  backend/challenges_users/views.py
  backend/directs/views.py
  backend/folders/serializers.py
  backend/folders/views.py
  backend/follows/views.py
  backend/leaderboards/views.py
  backend/leaderboards_users/views.py
  backend/leagues/views.py
  backend/notes/models.py
  backend/notes/serializers.py
  backend/notes/views.py
  backend/ratings/serializers.py
  backend/ratings/views.py
  backend/streaks/views.py
  backend/users/serializers.py
  backend/users/urls.py
  backend/users/views.py
Due: none

feat(user page): user page full functional
  backend/ratings/models.py
  backend/ratings/serializers.py
  backend/users/models/__pycache__/user.cpython-310.pyc
  docs/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/public/user.png
  frontend/src/app/App.tsx
  frontend/src/assets/styles/main.css
  frontend/src/assets/styles/tailwind.css
  frontend/src/components/Badge.tsx
  frontend/src/components/BadgesDisplay.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/HeaderHome.tsx
  frontend/src/components/Post.tsx
  frontend/src/components/PostsScroll.tsx
  frontend/src/components/ProgressBar.tsx
  frontend/src/components/Rating.tsx
  frontend/src/components/Statistics.tsx
  frontend/src/components/UserInfo.tsx
  frontend/src/hoc/auth/context.tsx
  frontend/src/i18n/config.ts
  frontend/src/i18n/locales/es/translations.json
  frontend/src/pages/pageNotFound.tsx
  frontend/src/pages/profile.tsx
  frontend/src/services/api.ts
  frontend/src/services/auth.ts
  frontend/src/services/badges.ts
  frontend/src/services/follows.ts
  frontend/src/services/notes.ts
  frontend/src/services/user.ts
  frontend/src/tests/components/Rating.test.tsx
  frontend/src/utils/consts.ts
  frontend/src/utils/functions.ts
  frontend/src/utils/icons.ts
  frontend/src/utils/openapi.d.ts
  frontend/src/utils/types.ts
Due: prettier --write, eslint --fix, eslint, stylelint --fix, stylelint

feat(notes and folders): now conectd with the back
  .vscode/settings.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/styles/main.css
  frontend/src/components/Follows.tsx
  frontend/src/components/LargeModal.tsx
  frontend/src/components/Leaderboard.tsx
  frontend/src/components/Note.tsx
  frontend/src/components/Tree.tsx
  frontend/src/components/TreeItem.tsx
  frontend/src/components/UserInfo.tsx
  frontend/src/components/UserItem.tsx
  frontend/src/components/UserList.tsx
  frontend/src/hoc/auth/context.tsx
  frontend/src/i18n/locales/es/translations.json
  frontend/src/main.tsx
  frontend/src/pages/folders.tsx
  frontend/src/pages/home.tsx
  frontend/src/pages/new.tsx
  frontend/src/services/api.ts
  frontend/src/services/folders.ts
  frontend/src/services/follows.ts
  frontend/src/services/leaderboards.ts
  frontend/src/utils/consts.ts
  frontend/src/utils/functions.ts
  frontend/src/utils/types.ts
  frontend/tailwind.config.js
Due: prettier --write, eslint --fix, eslint, stylelint --fix, stylelint

feat(note store): created the note store to local
  frontend/src/components/Note.tsx
  frontend/src/stores/noteStore.ts
Due: prettier --write, eslint --fix, eslint

feat(lessons): half of the lessons in the front
  .gitignore
  backend/lessons/models.py
  backend/users/models/__pycache__/__init__.cpython-310.pyc
  backend/users/models/__pycache__/user.cpython-310.pyc
  frontend/src/assets/styles/tailwind.css
  frontend/src/components/BadgesDisplay.tsx
  frontend/src/components/Category.tsx
  frontend/src/components/CategoryDoor.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Forest.tsx
  frontend/src/components/ForestDoor.tsx
  frontend/src/components/HeaderHome.tsx
  frontend/src/components/LargeModal.tsx
  frontend/src/components/Learn.tsx
  frontend/src/components/LessonIcon.tsx
  frontend/src/components/LessonTheory.tsx
  frontend/src/components/Phase.tsx
  frontend/src/components/PhaseHeader.tsx
  frontend/src/components/TaskChoose.tsx
  frontend/src/components/TaskReorder.tsx
  frontend/src/components/TaskWrite.tsx
  frontend/src/components/Unit.tsx
  frontend/src/components/UnitHeader.tsx
  frontend/src/hooks/useLessonUser.tsx
  frontend/src/hooks/useTask.tsx
  frontend/src/i18n/locales/es/translations.json
  frontend/src/pages/home.tsx
  frontend/src/services/lesson.ts
  frontend/src/services/tasks.ts
  frontend/src/services/unit.ts
  frontend/src/stores/categoryStore.ts
  frontend/src/stores/forestStore.ts
  frontend/src/utils/consts.ts
  frontend/src/utils/types.ts
  frontend/tailwind.config.js
Due: prettier --write, eslint --fix, eslint, stylelint --fix, stylelint

fix(tasks): the tasks are now functional
  README.md
  backend/notes/models.py
  backend/requirements.txt
  backend/tasks_users/urls.py
  backend/tasks_users/views.py
  frontend/src/components/HeaderHome.tsx
  frontend/src/components/TaskChoose.tsx
  frontend/src/components/TaskComplete.tsx
  frontend/src/components/TaskWrite.tsx
  frontend/src/components/Unit.tsx
  frontend/src/pages/community.tsx
  frontend/src/pages/lesson.tsx
  frontend/src/services/tasks.ts
  frontend/src/stores/noteStore.ts
  frontend/src/utils/types.ts
Due: prettier --write, eslint --fix, eslint

fix(task choose): shuffeling
  README.md
  backend/escribly_api/settings.py
  backend/leagues/migrations/0001_initial.py
  backend/lessons/serializers.py
  backend/lessons/views.py
  backend/migrations.sh
  backend/requirements.txt
  backend/tasks_users/views.py
  backend/users/models/__pycache__/user.cpython-310.pyc
  frontend/src/components/TaskChoose.tsx
  frontend/tailwind.config.js
Due: prettier --write, eslint --fix, eslint

fix(migrations): migration script to avoid errors
  backend/leagues/migrations/0001_initial.py
  backend/migrations.sh
  backend/users/models/__pycache__/user.cpython-310.pyc
  frontend/src/components/TaskComplete.tsx
Due: prettier --write, eslint --fix, eslint

Delete 0001_initial.py
  backend/leagues/migrations/0001_initial.py
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{css,scss})) or (any of: **/*.{json,md,yml,yaml,html})
  eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: **/*.{css,scss}
  stylelint: any of: **/*.{css,scss}
